
body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

div {
    height: 100px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}